APP_NAME=ConsolDoc
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
LOG_CHANNEL=stack
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=consoldoc
DB_USERNAME=consoldoc
DB_PASSWORD=secret
